@model IEnumerable<OrderDetails>
@{
    ViewData["Title"] = "Chi tiết đơn hàng";
}

<div class="container mt-4">
    <h3 class="mb-4">List Products</h3>

    <a asp-action="Index" asp-controller="Product" class="btn btn-primary mb-3">Back to List Products</a>

    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Order Code</th>
                <th scope="col">User Name</th>
                <th scope="col">Product ID</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.OrderCode</th>
                    <td>@item.UserName</td>
                    <td>@item.ProductId</td>
                    <td>@item.Price.ToString("C")</td>
                    <td>@item.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
</div>
